.idea
.DS_Store
build/bin/
.vscode/
vendor/
logs/
.gocache/
.gomodcache/
coverage*.out
.env
deployments/dev/.env
deployments/prod/.env
deployments/prod/nginx/.htpasswd
frontend-dist/
*.md
!README.md
!docs/*.md
